/*The following gives the backround color or the wrapper*/
body {
    background-color:#990000;   
   }
   
   /*The following styles the header (with the title of the page).*/
header {
    font-size:150%;
    padding: 10px 10px 10px 155px;
    height: 100px;
    background-image: url(../images/hands%20-%20hor.JPG);
    background-repeat: repeat;
}

/*The following styles the left space below the buttons.*/
#wrapper {
    /* max-width: 100%; */
    background-image: url(../images/traditional_motive_vertical.JPG);
}

/*The following styles the background of Tourist Destination page */
.dark_background {
    background-color: #990000;
    color: #FFFFFF;
    margin: 5px;
    padding: 5px;
}

/*The following styles the buttons with the links to the sub-pages*/
nav {
    float: left;
    width: 150px;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1.1em;
}


/*The following styles the navigation bar and the buttons on it*/
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

nav a{
    text-decoration: none;
    background-color: #990000;
    border-bottom: 3px solid #FFFFFF;
    display: block;
    transition: background-color 2s ease,
        padding 0.8s linear;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 3px;
}

nav a:link {
    color: #d9d9d9;
}
nav a:visited {
    color: #ffffff;
}
nav a:hover {
    color: #869DC7;
    background-color: #EAEAEA;
}

h1 {
    font-family: Georgia, sans-serif;
    color:#FFFFFF;
    background-color: #990000;
    border-style:solid;
    letter-spacing: 10px;
    width: 700px;
    height: auto;
    margin-left: 150px;
    border-width: 2px;
    text-align: center;
    }

h2 {
    text-align: center;
    font-family: sans-serif;
    color:#990000;
    font-size: 2em;
    padding: 8px;
    letter-spacing: 0.1em
}

h3 {
    font-family:sans-serif;
    font-size:25px;
    letter-spacing: 0.1em
}

main {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    overflow: auto;
}
#index {
    margin-top: -40px;
}
.column .figure img {
width: 250px;
height: 355px;
}

#map_box iframe {
width: 220px;
height: 165px;
}

/*The following styles the paragraphs */
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align:left;
    padding: 8px;
    text-align: justify;
}

/* The following will affect the box of the map. */
#map_box {
    float: left;
    background-color: azure;
    border: ridge;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

/*The following will affect the items that need to be floating on the right */
#float_right {
    float: right;
    margin: 20px;
}

/*The following will affect the images - the text describing them */
figcaption {
    text-align: center;
    font-weight: bold;
}

/*The following will affect the items that need to be foating on the left */
#float_left {
    float: left;
    margin: 20px;}

/*The following styles the boxes for images */
#image_box {
    width: 500px;
    height:375px;
    border: ridge;
    border-width: 3px;
    margin: 15px;
    align-items: center;
    font-weight: bold;}

/*The following three will affect the index and tourist_destination pages arranging the text in columns */
.column{
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The following will affect the map of Moldova on index page. */
.figure {
    float: left;
    width: 260px;
    margin: 20px;
    background-image: url(../images/tricolor.JPG);
    color:black;
    font-weight: bold;
    text-align: center;
    font-size: .80em;
    padding: 6px;
    border: 1px solid #CCC;
    box-shadow: 5px 5px 5px #828282;
    transform: rotate(3deg);
}

/* The following will stile the picture box on index page. */
#Chisinau_box {
    width: 440px;
    border: 2px solid;
    border-radius: 5px;
    border-color: maroon;
    margin-left: 30px;
    padding: 3px;
    box-shadow: 3px 3px 3px grey;
    text-align: center;
    float: left;  
}

/* The following will affect footer */
#img_repeat{
    background-image: url(../images/motive_with_space.JPG);
    background-repeat: repeat;
}

.email_form {
    color: #990000; 
    font-family: Georgia;
}

#float_right figcaption {
    text-align: center"
}

.dark_background h2 {
    color: #FFFFFF;
}

.dark_background #float_right p {
    font-weight: bold;
}

.row .column h3 {
    color: #990000;
}

.column .dark_background h3 {
    color: #FFFFFF;
}

/* The following will affect the footer. */
footer{
    color:black;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    clear: left;
    height: 40px;
    padding-left: 5px;
    background-image: url(../images/motive_with_space.JPG);
    background-repeat: repeat;  
}
   
   /* --------------------------MEDIA QUERIES------------------------------------------- */
@media only screen and (min-width: 120px) and (max-width: 468px) {
    body {
        font-size: 0.8em;
        background-color:white;
       }
    #wrapper {
        background-image: none;
        background-color:white;
    }
    main {
        background-image: none;
        margin-bottom: 2px;
        margin-top: 15px;
        padding: 5px;
        overflow:visible;
    }
    #destinations h2 {
        margin-top: 0px;
    }
    p {
        width: 90%;
    }
    .column p {
        width: 330px;
        padding: 10px;
    }
    /*The following 2 will affect the index and tourist_destination pages arranging the text in columns */
    .column{
        float: none;
    }
    .column .dark_background {
        width: 350px;    
    }
    .dark_background {
        max-width: fit-content;
    }
    nav {
        width: 100%;
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 3px;
    }
    nav ul li {
        display: grid;
        margin-bottom: 5px;
        font-size: 10px;
        line-height: 10px;
    } 
    nav a {
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    header {
        height: 10px;
        background-image: none;
        padding: 15px;
    }
    h1 {
        letter-spacing: 4px;
        color:#990000;
        background-color: white;
        font-size: 20px;
        width: 350px;
        margin-top: 0px;
        border: none;
        word-wrap: normal;
        margin-left: -20px;
    }
    h2 {
        font-size: 1.5em;
        max-width: 360px;
    }
    h3 {
        font-size: 14px;
        letter-spacing: normal;
        max-width: 360px;
        color: #990000;
    }
    p {
        font-family: Arial, sans-serif;
        font-size: 14px;
        text-align: left;
        padding: 8px;
        text-align: justify;
        line-height: 18px;
    }
    .figure img {
        width: 120px;
        height: 140px;
    }
    #map_box{
        float: none;
        width: 240px;
        height: 200px;
        text-align: center;
        margin-bottom: 40px;
        margin-left: 40px;
    }
    /*The following will affect the items that need to be foating on the right */
    #float_right {
        float: none;
        margin: 10px;
    }
    /*The following will affect the images - the text describing them */
    figcaption {
        text-align: center;
        font-weight: bold;
        /* width: 270px; */
    }
    /*The following will affect the items that need to be foating on the left */
    #float_left {
        float: none;
        margin: 20px;
    }
    /*The following styles the boxes for images */
    #image_box {
        width: 300px;
        height: 250px;
    }
    #image_box img {
        width: 300px;
        height: 250px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* The following will stile the picture box on index page. */
    #Chisinau_box {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    #Chisinau_box img {
        width: 280px;
    }
    .embroidery img {
        height: 150px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    } 
    .embroidery figcaption {
        display: none;
    }

    .dacii img {
        width: 95%;
    }
    .mamaliga img {
        width: 95%;
        margin-top: -50px;
    }
    #float_left img {
        width: 300px;
    }
    #long-img {
        display: none;
    }
    .chisinau img{
        width: 300px;
    }
    .nav-div {
        margin-bottom: 40px;
    }
    .reverse-color1 {
        background-color: white;
    }
    #orhei {
        background-color: white;
        color:#000000;
    }
    #orhei h3 {
        color: #990000;
    }
    #soroca {
        background-color:#990000;
        color: white;
        width: 350px;
    }
    #soroca h3 {
        color: white;
        padding: 5px;
    }
    .welcome img {
        width: 320px;
    }
    .airport img {
        width: 300px;
    }
    #dance img {
        max-width: 95%;
    }
    #hora img {
        max-width: 95%;
    }
    .martisor img {
        max-width: 95%;
        margin-left: 25px;
    }
    footer {
        background-image: none;
        height: 25px;
        padding-top: 0px;
        color:#990000;
    }
}

@media only screen and (min-width: 468px) and (max-width: 768px) {
    body {
        font-size: 0.8em;
        background-color:#EAEAEA;
       }    
    header {
        font-size: 95%;
        background-image: none;
        height: 30px;
        font-size: 150%;
        max-width: 768px;
    }
    main {
        background-image: none;
        min-width: 450px;
        max-width: 768px;
    }
    nav {
        width: auto;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        float: none;
    }
    nav ul li {
        width: 180px;
        margin-bottom: 20px;
    } 
    nav a {
        background-color: darkred;
        text-align: center;
    }
    h2 {
        font-size: 2.0em;
        margin-left: 0px;
        margin-top: 20px;
        width: 400px;
    }
    h3 {
        font-size: 22px;
        letter-spacing: normal;
        width: 400px;
    }
    p {
        font-size: 110%;
        text-align: left;
        max-width: 768px;
        text-align: justify;
    }
    .figure img {
        width: 120px;
        height: 140px;
    }
    #map_box{
        float: none;
        width: 250px;
        height: 200px;
        text-align: center;
        margin-bottom: 40px;
    }
    /*The following will affect the items that need to be foating on the right */
    #float_right {
        float: none;
        text-align: center;
        /* margin: 20px; */
    }
    /*The following will affect the images - the text describing them */
    figcaption {
        text-align: center;
        font-weight: bold;
    }
    /*The following will affect the items that need to be foating on the left */
    #float_left {
        float: none;
        margin: 20px;
    }
    /*The following styles the boxes for images */
    #image_box {
        width: 350px;
        height: 275px;
    }
    /*The following three will affect the index and tourist_destination pages arranging the text in columns */
    .column{
        float: none;
        width: 100%;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* The following will affect the map of Moldova on index page. */
    .figure {
        float: none;
        width: 260px;
        margin: 20px;
        background-image: url(../images/tricolor.JPG);
        color:black;
        font-weight: bold;
        text-align: center;
        font-size: .80em;
        padding: 6px;
        border: 1px solid #CCC;
        box-shadow: 5px 5px 5px #828282;
        transform: rotate(3deg);
    }
    /* The following will stile the picture box on index page. */
    #Chisinau_box img {
        width: 320px;
    }
   .embroidery img {
        height: 150px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    } 
    .embroidery figcaption {
        display: none;
    }
    #float_left img {
        width: 600px;
    }
    #long-img {
        display: none;
    }
    .column .dark_background {
        width: 390px;    
    }
    .chisinau img{
        width: 350px;
    }
    .nav-div {
        margin-bottom: 40px;
    }
    .reverse-color1 {
        background-color: white;
    }
    #orhei {
        background-color: white;
        color:#000000;
    }
    #orhei h3 {
        color: #990000;
    }
    #soroca {
        background-color:#990000;
        color: white;
        width: 400px;
    }
    #soroca h3 {
        color: white;
        padding: 5px;
    }
    .martisor img {
        height: auto;
        width: auto;
    }
    #image_box img {
        height: 275px;
        width: 350px;
    }
    .welcome img {
        width: 350px;
    }
    .airport img {
        width: 350px;
    }
    #dance img {
        margin-left: 90px;
        padding-left: 20px;
    }
    .martisor {
        margin-left: -30px;
    }
    footer{
        background-image: none;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    header {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1024px) and (max-width:1330px) {
    header {
        font-size: 15px;
    }
}

@media print {
    
    
}